<div class="app">
  <header>
    <nav class="nav container">
      <ul class="nav-list">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Myshop</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/cart"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Cart</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/profile"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Profile</a
          >
        </li>
      </ul>
    </nav>
  </header>

  <main class="container">
    <router-outlet></router-outlet>
  </main>
</div>
